{% extends "base.html.twig" %}

{% block body %}
	<br>
	<br>
	<br>
	<br>
	<br>
    <center>
	<h1>Examen :
	</h1>
    </center>

	{% for question in questions %}
		{{i}})-{{question.question}}
		:
		<br>
		{% for reponse in reponses %}
			{% if reponse.idQuestion == question.id %}
				<input type="radio" name="rep" value={{reponse.vrai}}>
				<label for="">{{reponse.reponse}}</label><br>
			{% endif %}
		{% endfor %}

		{% set i = i+1 %}
	{% endfor %}

	<br>
	<br>
	<br>
	<br>
	<br>
{% endblock %}
